@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  /* Headings */
  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-3xl font-semibold mb-3;
  }

  h3 {
    @apply text-2xl font-semibold mb-2;
  }

  h4 {
    @apply text-xl font-semibold mb-2;
  }

  h5 {
    @apply text-lg font-semibold mb-1;
  }

  h6 {
    @apply text-base font-semibold mb-1;
  }

  /* Paragraphs */
  p {
    @apply leading-normal mb-4;
  }

  /* Links */
  a {
    @apply text-blue-500 hover:text-blue-700 underline;
  }

  /* Lists */
  ul {
    @apply list-disc pl-6 mb-4;
  }

  ol {
    @apply list-decimal pl-6 mb-4;
  }

  .btn {
    @apply bg-blue-500 hover:bg-blue-700
      no-underline text-white hover:text-white  text-nowrap
      py-2 px-4 rounded;
  }
}