---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="About">
    <h1>About the BMS PTO</h1>

    <div class="my-8 p-8 bg-slate-50">
        <h1>Board</h1>

        <div class="flex gap-10 flex-wrap">
            <div>
                <h2>Officers</h2>
                <ul>
                    <li><b>President:</b> Zain Shah</li>
                    <li><b>Vice President:</b> Paula Green</li>
                    <li><b>Treasurer: </b>Tammy Harley</li>
                    <li><b>Secretary: </b>Tsui Cheah</li>
                    <li><b>Parliamentarian: </b>Cara Bateman</li>
                    <li><b>Principal: </b>Mark Nelson</li>
                    <li><b>Fundraising: </b>Andrea Jenest</li>
                    <li><b>Equity and Inclusion: </b>Laura Cohen &amp; Andrea Rodriguez</li>
                </ul>
            </div>

            <div>
                <h2>Coordinators</h2>
                <ul>
                    <li><b>Community Events: </b>Devon Stiles</li>
                    <li><b>Game Room: </b>Kim Gordon</li>
                    <li><b>Teach Appreciation: </b>Sara Michaud</li>
                    <li><b>Book Fair: </b>Britt Schlosshardt</li>
                    <li><b>Spirit Wear: </b>Krista Heredia</li>
                    <li><b>Online: </b>Matt DeClaire</li>
                </ul>

            </div>

            <div>
                <h2>Liaisons</h2>
                <ul>
                    <li><b>Joe Henderson: </b>Janny Manasse</li>
                    <li><b>Mary Farmer: </b>Michele Nobori</li>
                    <li><b>Matthew Turner: </b><i>OPEN</i></li>
                    <li><b>Robert Semple: </b>Ann Brooner</li>
                    <li><b>BMS Teachers: </b>Megan Nelson</li>
                    <li><b>BHS: </b><i>OPEN</i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="my-8 p-8 bg-slate-100">
        <h1>Get Involved!</h1>
        <ul>
            <li>We are YOU. Any parent or guardian of a current BMS student is automatically a member, no enrollment fee.</li>
            <li>Get involved! Click the button below to let us know how you can help.</li>
        </ul>

        <p><a class="btn" href="https://forms.gle/Dz7rApxM4kJx9M8fA">Volunteer Today!</a></p>
    </div>

    <h1>Meeting</h1>
    <p>Please join us on the first Monday of each month (except for Labor Day). Meetings start at 6pm at the Middle School.</p>

    <div class="my-8 p-8 bg-slate-50">
        <h3>Non-Profit</h3>
        <p>We are a 501(c)3 charitable organization. FEIN: 84-3529231</p>
    </div>

</PageLayout>
