---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
    <div class="mb-10 p-10 bg-slate-50">
        <h1>Our Mission</h1>
        <p>The vision of the Benicia Middle School PTO is to promote a community where:</p>
        <ul>
            <li>Parents are informed and involved</li>
            <li>Teachers are empowered to deliver the richest education possible</li>
            <li>Children have access to resources that keep them engaged, stimulated and excited to learn</li>
            <li>The PTO will aim to ensure that every student is known, valued and nurtured in order to reach their fullest academic and social-emotional potential</li>
            <li>Membership is open to all parents and teachers at BMS and there is no membership fee</li>
            <li>We are an independent non-profit and not politically connected to any outside organization</li>
        </ul>
        <p>We can focus all of our funds and attention on the unique needs of our school community!</p>

        <h1>Get Involved!</h1>
        <ul>
            <li>We are YOU. Any parent or guardian of a current BMS student is automatically a member, no enrollment fee.</li>
            <li>Get involved! Click the button below to let us know how you can help.</li>
        </ul>

        <a class="btn" href="https://forms.gle/Dz7rApxM4kJx9M8fA">Volunteer Today!</a>
    </div>

    <div class="mb-10 p-10 bg-slate-50">
        <h1>PTO Board</h1>

        <div class="flex gap-10 flex-wrap">
            <div>
                <h2>Officers</h2>
                <ul>
                    <li><b>President:</b> Zain Shah</li>
                    <li><b>Vice President:</b> Paula Green</li>
                    <li><b>Treasurer: </b>Tammy Harley</li>
                    <li><b>Secretary: </b>Tsui Cheah</li>
                    <li><b>Parliamentarian: </b>Cara Bateman</li>
                    <li><b>Principal: </b>Mark Nelson</li>
                    <li><b>Fundraising: </b>Andrea Henry</li>
                    <li><b>Equity and Inclusion: </b>Laura Cohen &amp; Andrea Rodriguez</li>
                </ul>
            </div>

            <div>
                <h2>Coordinators</h2>
                <ul>
                    <li><b>Community Events: </b>Devon Stiles</li>
                    <li><b>Game Room: </b>TBD</li>
                    <li><b>Viking Night: </b>Janny Manasse</li>
                    <li><b>Teach Appreciation: </b>Sara Michaud</li>
                    <li><b>Book Fair: </b>Britt Schlosshardt</li>
                    <li><b>Spirit Wear: </b>Krista Heredia</li>
                    <li><b>Online: </b>Matt DeClaire</li>
                </ul>

            </div>
            <div>
                <h2>Liaisons</h2>
                <ul>
                    <li><b>Joe Henderson: </b>Janny Manasse</li>
                    <li><b>Mary Farmer: </b>Michele Nobori</li>
                    <li><b>Matthew Turner: </b>Randy Villanueva</li>
                    <li><b>Robert Semple: </b>Ann Brooner</li>
                    <li><b>BMS: </b>Megan Nelson/li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Meeting Dates</h1>
    <p>Please join us on the first Monday of each month (except for Labor Day). Meetings start at 6pm at the Middle School.</p>

    <div class="mb-10 p-10 bg-slate-50">
        <h1>Non-Profit</h1>
        <p>We are a 501(c)3 charitable organization. FEIN: 84-3529231</p>
    </div>

</PageLayout>
