---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="About">
    <h2>Our Mission</h2>
    <p>The vision of the Benicia Middle School PTO is to promote a community where:</p>
    <ul>
        <li>Parents are informed and involved</li>
        <li>Teachers are empowered to deliver the richest education possible</li>
        <li>Children have access to resources that keep them engaged, stimulated and excited to learn</li>
        <li>The PTO will aim to ensure that every student is known, valued and nurtured in order to reach their fullest academic and social-emotional potential</li>
        <li>Membership is open to all parents and teachers at BMS and there is no membership fee</li>
        <li>We are an independent non-profit and not politically connected to any outside organization</li>
    </ul>
    <p>We can focus all of our funds and attention on the unique needs of our school community!</p>

    <p>If you have any questions, please reach out to us at <a href="mailto:bmsptoinfo@googlegroups.com">bmsptoinfo@googlegroups.com</a>.</p>

    <div class="panel">
        <h2>Board</h2>

        <div class="mt-4 flex flex-wrap gap-x-16 gap-y-6">
            <div>
                <h3>Officers</h3>
                <ul class="list-none pl-0">
                    <li><b>President:</b> Krista Heredia</li>
                    <li><b>Vice President:</b> Chris Zimmerman</li>
                    <li><b>Treasurer:</b> Courtney Cronon</li>
                    <li><b>Asst. Treasurer:</b> Tammy Harley</li>
                    <li><b>Secretary:</b> Laura Flanagan</li>
                    <li><b>Asst. Secretary:</b> Vanessa Christy</li>
                    <li><b>Parliamentarian:</b> <i>OPEN</i></li>
                    <li><b>Principal:</b> Mark Nelson</li>
                    <li><b>Fundraising:</b> Jasmine Hiller &amp; Dolly Zink</li>
                    <li><b>Equity and Inclusion:</b> Laura Cohen &amp; Andrea Rodriguez</li>
                </ul>
            </div>

            <div>
                <h3>Coordinators</h3>
                <ul class="list-none pl-0">
                    <li><b>Community Events:</b> Devon Stiles</li>
                    <li><b>Game Room:</b> Kim Gordon</li>
                    <li><b>Teacher Appreciation:</b> Sara Michaud</li>
                    <li><b>Book Fair:</b> Kim Gordon</li>
                    <li><b>Spirit Wear:</b> Vanessa Christy</li>
                    <li><b>Online:</b> Matt DeClaire</li>
                    <li><b>Watch DOGS Coordinator:</b> Jason Anderson</li>
                    <li><b>Boosterthon:</b> Andrea Jenest</li>
                </ul>
            </div>

            <div>
                <h3>Liaisons</h3>
                <ul class="list-none pl-0">
                    <li><b>Joe Henderson:</b> <i>OPEN</i></li>
                    <li><b>Mary Farmar:</b> Courtney Cronon</li>
                    <li><b>Matthew Turner:</b> Kim Yamamoto</li>
                    <li><b>Robert Semple:</b> <i>OPEN</i></li>
                    <li><b>BMS Teachers:</b> Megan Nelson</li>
                    <li><b>BHS:</b> <i>OPEN</i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-gold">
        <h2>Get Involved!</h2>
        <ul>
            <li>We are YOU. Any parent or guardian of a current BMS student is automatically a member, no enrollment fee.</li>
            <li>Get involved! Click the button below to let us know how you can help.</li>
        </ul>

        <p><a class="btn" href="/volunteer">Volunteer Today!</a></p>
    </div>

    <h2>Meeting</h2>
    <p>Please join us on the first Tuesday of each month (except for August). Meetings are from 6pm to 7:30 at the Middle School.</p>
    <p>You can review our <a href="https://drive.google.com/drive/folders/1uLPAelkcndAuveb-iJegI55oMdNCLuC4">agendas online</a>.</p>
    <ul class="sm:columns-2">
        <li>August 11, 2026</li>
        <li>September 1, 2026</li>
        <li>October 6, 2026</li>
        <li>November 3, 2026</li>
        <li>December 1, 2026</li>
        <li>January 5, 2027</li>
        <li>February 2, 2027</li>
        <li>March 2, 2027</li>
        <li>April 6, 2027</li>
        <li>May 4, 2027</li>
        <li>June 1, 2027</li>
    </ul>

    <div class="panel">
        <h3>Non-Profit</h3>
        <p>We are a 501(c)3 charitable organization. FEIN: 84-3529231</p>
    </div>

</PageLayout>
