---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Donate">
    <h2>We need your support!</h2>

    <p>A direct donation to the PTO is a great way for families to help who don't have the time to take on other projects. Contribution, no matter the size, will directly impact our students' education and overall experience at BMS. Funds will help with:</p>

    <ul>
        <li>Viking Night - our family event to celebrate our BMS community</li>
        <li>The 8th grade dance</li>
        <li>Organize and financially support the Book Fair and Game Room</li>
        <li>Grants for teachers to purchase classroom supplies, updating books in the library and classrooms,  technology, special projects, classroom improvement, and enrichment opportunities and curriculum Art projects on campus to build community</li>
        <li>Staff Appreciation Week </li>
        <li>5-Star Students Program to allow tracking hall passes, positive participation incentives and more!</li>
        <li>Projects to support and increase equity and inclusion on campus </li>
        <li>All events and activities for the year</li>
        <li>Gardening supplies, math games, classroom supplies</li>
        <li>Display cases for student art, sound equipment for drama, and updated PE equipment</li>
    </ul>

    <div class="my-10 p-10 bg-slate-50">
        <h2>Our goal is to raise $40,000 total for the year</h2>
        <ul>
            <li><b>$30</b> - If all families donate just $30, we can do most of what we organized and funded last year!</li>
            <li><b>$50</b> - Larger donations get us closer to adding a spring family event and funding more instructional grants for teachers!</li>
            <li><b>$100</b> - Reduce the need for teachers and leadership to do independent fundraisers in the future!</li>
        </ul>
        <p>Can you donate more, or less? Or course! We know every family's situation is unique and no donation is too small.</p>
        <p>Remember to check if your employer offers donation matching! The United Way and Benevity both have BMS PTO as a group you can donate to.</p>
        <p>You can donate here on the web, or bring cash or checks to the main office.</p>
        <p>Remember! We are a 501(c)3 charitable organization. So, your donation is tax deductible. <strong>FEIN: 84-3529231</strong></p>
        <p><a class="btn" href="https://www.google.com/url?q=https%3A%2F%2Fdonate.stripe.com%2F00g4gZ0QSf1afKw7ss&sa=D&sntz=1&usg=AOvVaw0nKXuPb8wY6kG9Z3ZDCHN9">
            Donate Today
        </a></p>
        <p><strong>We accept cash or checks!</strong> Just bring them into the BMS front office.</p>
    </div>
</PageLayout>
