---
import PageLayout from "@layouts/PageLayout.astro";
import { getPages } from "src/models/page";
const pages = await getPages();
---
<PageLayout>
	<ul>
		{pages.map((page) => (
			<a href={`/${page.slug}`}>
				{page.title}
			</a>
		))}
	</ul>
</PageLayout>