---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
    <div class="banner p-10 md:p-20 text-center text-white">
        <h1>
            Benicia Middle School<br>
            Parent Teacher Organization
        </h1>
    </div>

    <div class="mt-8 grid lg:grid-cols-2 gap-4 md:gap-10">
        <div class="p-8 bg-slate-100">
            <h2>Our Mission</h2>
            <p>The vision of the Benicia Middle School PTO is to promote a community where parents are informed and involved. We can focus all of our funds and attention on the unique needs of our school community!</p>
            <p><a href="/about" class="btn">Learn More</a></p>
        </div>

        <div class="p-8 bg-slate-200">
            <h2>Donate Today</h2>
            <p>A direct donation to the PTO is a great way for families to help who don't have the time to take on other projects. Contribution, no matter the size, will directly impact our students' education and overall experience at BMS.</p>
            <p><a href="/donate" class="btn">Donate now</a></p>
        </div>

        <div class="p-8 bg-slate-300">
            <h2>Volunteer</h2>
            <p>We are still looking for help. We have a couple positions still open on the board. But, we have all sorts of ways you can help.</p>
            <p><a href="https://forms.gle/Dz7rApxM4kJx9M8fA" class="btn">Volunteer Today!</a></p>
            <p>Meetings start at 6 pm at BMS Talk Town on the first Monday of the month, unless there's no school that day.</p>
        </div>

        <div class="p-8 bg-slate-100">
            <h2>Viking Night</h2>
            <p>BMS Viking night will be held Friday, October 18 from 5 - 8pm on the BMS campus. The event will feature food trucks, inflatable obstacle courses, a teacher-led auction, and live performances by our talented students.</p>
            <p><a href="/viking-night" class="btn">Learn More</a></p>
        </div>
    </div>
</PageLayout>

<style>
    .banner {
        background-position: center center;
        background-image: url(/img/yearbook.jpg);
        background-size: cover;
    }
</style>