---
import PageLayout from "@layouts/PageLayout.astro";
import { contentfulClient } from "../lib/contentful";
const pages = await contentfulClient.getEntries({ content_type: 'page' });
---
<PageLayout>
	<ul>
		{pages.items.map((page) => (
			<a href={`/${page.fields.slug}`}>
				{page.fields.title}
			</a>
		))}
	</ul>
</PageLayout>