---
import PageLayout from "@layouts/PageLayout.astro";
import { getPage } from "src/models/page";
const page = await getPage('2EpXC82OhHyPMeQJpkBEhl');
---
<PageLayout>
    <div set:html={page.body}></div>
</PageLayout>