---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Viking Night">
    <h1>Viking Night</h1>

    <div class="my-10 p-10 bg-slate-200">
        <p>BMS Viking night will be held Friday, October 3rd, from 5 - 8pm on the BMS campus. The event will feature food trucks, inflatable obstacle courses, a teacher-led auction, and an art gallery featuring student art.</p>
        <p><strong>We need your support.</strong> Viking Night is not possible without the help of volunteers. Whether you can spare an hour or stay the whole evening, your time and energy will make a big difference. Sign up to help.</p>
        <p><a href="https://forms.gle/NrjJbVHhr2y3R5qV9" class="btn">Viking Night Volunteer Form</a></p>

        <div class="my-10 flex flex-wrap gap-4">
            <img src="/img/viking-night/IMG_4692.jpg" width="400" alt="Having fun at Viking Night 2024" />
            <img src="/img/viking-night/IMG_4958.jpg" width="400" alt="Having fun at Viking Night 2024" />
            <img src="/img/viking-night/IMG_4816.jpg" width="400" alt="Having fun at Viking Night 2024" />
            <img src="/img/viking-night/IMG_4913-2.jpg" width="400" alt="Having fun at Viking Night 2024" />
            <img src="/img/viking-night/IMG_4939.jpg" width="400" alt="Having fun at Viking Night 2024" />
            <img src="/img/viking-night/IMG_4748-2.jpg" width="400" alt="Having fun at Viking Night 2024" />
        </div>
    </div>
</PageLayout>
