---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Donate">
    <h1>Viking Night</h1>

    <div class="my-10 p-10 bg-slate-50">
        <p>BMS Viking night will be held Friday, October 18 from 5 - 8pm on the BMS campus. The event will feature food trucks, inflatable obstacle courses, a teacher-led auction, and live performances by our talented students.</p>
        <p>To keep this event free for our families, we need your support. We are seeking sponsorships to cover the costs of the game area and additional lighting. Your tax-deductible contribution will help us achieve this goal and ensure Viking Night remains accessible to all. Without sufficient funds, we may need to charge for access to some activities.</p>
        <p><a href="/assets/2024/BMS%20Viking%20Night%20Sponsorship%20Opportunity.pdf" class="btn" target="_blank">Sponsor Today</a></p>
        <h3>Thank you to our 2024 Viking Night Sponsors!</h3>
        <p><img src="/img/Valero_Benicia_Color_Horizontal.jpg" width="400" height="85" alt="Valero" /></p>
        <p><img src="/img/planit-large.gif" width="200" height="135" alt="Plan-it Interactive" /></p>
        <ul>
            <li>Benicia Elite Auto Group</li>
            <li>The Filling Station Goods & Gifts</li>
            <li>Lucca Bar & Grill</li>
            <li>Quickly Benicia</li>
            <li>Rrags Caffe</li>
        </ul>
    </div>
</PageLayout>
