---
import { getPages } from "src/models/page";
import { getSettings } from "src/models/settings";

const settings = await getSettings();

// const pages = (await getPages())
//     .filter(page => page.slug !== settings.homepage.slug);

const pages = [
    { title: "About", slug: "about" },
    { title: "Donate", slug: "donate" },
];

const { title } = Astro.props;

import "../styles/main.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} BMS PTO</title>
	</head>
	<body>
        <header class="px-4 md:px-10 py-4 flex items-center gap-5 bg-slate-200 drop-shadow">
            <a href="/" class="text-xl font-bold drop-shadow">
                BMS PTO
            </a>

            <ul class="mt-0 p-0 flex gap-4 list-none">
                {pages.map(page => (
                    <li>
                        <a href={`/${page.slug}`} class="hover:underline">
                            {page.title}
                        </a>
                    </li>
                ))}
                <li>
                    <a href="https://www.bms-gear.com">
                        Spirit Store
                    </a>
                </li>
                <li>
                    <a href="https://bms.beniciaunified.org/our-school/the-viking-times/">
                        Viking Times
                    </a>
                </li>
            </ul>
        </header>

        <div class="p-2 md:p-10 pb-20">
            <slot />
        </div>

        <div class="p-10 text-center bg-slate-400">
            <a href="/">Benicia Middle School Parent Teacher Organization</a>
        </div>
	</body>
</html>

<style>
    a {
        @apply text-inherit no-underline hover:underline;
    }
</style>