---
import { getPages } from "src/models/page";
import { getSettings } from "src/models/settings";

const settings = await getSettings();

// const pages = (await getPages())
//     .filter(page => page.slug !== settings.homepage.slug);

const pages = [
    { title: "About", slug: "about" },
    { title: "Donate", slug: "donate" },
];

const { title } = Astro.props;

import "../styles/main.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} BMS PTO</title>
	</head>
	<body>
        <header class="p-10 flex gap-10 bg-slate-200">
            <a href="/">
                BMS PTO
            </a>

            <ul class="flex gap-6 list-none">
                {pages.map(page => (
                    <li>
                        <a href={`/${page.slug}`} class="hover:underline">
                            {page.title}
                        </a>
                    </li>
                ))}
            </ul>
        </header>

        {title &&
            <h1 class="p-10 text-2xl bg-slate-100">{title}</h1>
        }

        <div class="p-10">
            <slot />
        </div>
	</body>
</html>

<style>
    a {
        @apply text-inherit no-underline hover:underline;
    }
</style>