---
import { getPages } from "src/models/page";
import { getSettings } from "src/models/settings";

const settings = await getSettings();

// const pages = (await getPages())
//     .filter(page => page.slug !== settings.homepage.slug);

const pages = [
    { title: "About", slug: "about" },
    { title: "Donate", slug: "donate" },
];

const { title } = Astro.props;

import "../styles/main.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} BMS PTO</title>
	</head>
	<body>
        <header class="relative px-4 md:px-10 py-4 flex items-center gap-5 bg-slate-200 drop-shadow">
            <a href="/" class="text-xl font-bold drop-shadow">
                BMS PTO
            </a>

            <label for="nav-checkbox" class="md:hidden absolute p-5 top-0 right-0">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </label>
            <!-- position offscreen instead of hiding so that it's still tabbable -->
            <input type="checkbox" class="absolute peer -left-full" id="nav-checkbox">

            <nav class="hidden peer-checked:block md:block">
                <ul class="
                    list-none
                    m-0 flex gap-4
                    absolute z-20 top-full left-0 w-full bg-slate-200 p-4 flex-col text-right
                    md:relative md:bg-inherit md:p-0 md:flex-row
                ">
                    <li class="md:hidden">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    {pages.map(page => (
                        <li>
                            <a href={`/${page.slug}`} class="hover:underline">
                                {page.title}
                            </a>
                        </li>
                    ))}
                    <li>
                        <a href="https://bms.beniciaunified.org/our-school/the-viking-times/">
                            Viking Times
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="p-2 md:p-10 pb-20">
            <slot />
        </div>

        <div class="p-10 text-center bg-slate-400">
            <a href="/">Benicia Middle School Parent Teacher Organization</a>
        </div>
	</body>
</html>

<style>
    a {
        @apply text-inherit no-underline hover:underline;
    }
</style>