---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} BMS PTO</title>
	</head>
	<body>
        <header>
            <a href="/">
                BMS PTO
            </a>
        </header>

        <div>
            <slot />
        </div>
	</body>
</html>